chatbot.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8c69c49a-fecc-45b5-8148-c2d6c8b14430",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -144,
        0
      ],
      "id": "27ddc5bf-4bbd-4dbe-93f2-95fc808f384e",
      "name": "Webhook",
      "webhookId": "8c69c49a-fecc-45b5-8148-c2d6c8b14430"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        0
      ],
      "id": "edff14ed-81ba-433d-8f45-5826c44d8b25",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Tu es l'assistant IA d'une consultante en automatisation. Un visiteur décrit son problème. Tu dois: 1. Reformuler son problème en 1 phrase 2. Estimer les heures perdues par semaine 3. Dire ce que l'IA peut automatiser. Réponds en français, ton humain et direct, max 5 lignes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        64,
        0
      ],
      "id": "ca93c466-a7f6-4c5b-b4ef-e470e7d58307",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -80,
        208
      ],
      "id": "ce4899a4-d4ea-4b3c-a8a7-fe4c8ef3fe6f",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "a0rH2Qkc3S55nABN",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "4fceba15-aff0-4413-a96f-f10e30b48692",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8dd874ec-1185-4cae-99ba-9bf6d9285dca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ce879623c7712dee5ff85268aa62fe8ce97b2869e8b7f604a46953716978139"
  },
  "id": "2yNodickcpodsNeC",
  "tags": []
}